.dialog-container{
    position: relative;
}

.dialog-name-container{
    margin-top: 16px;
}

.dialog-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.close-btn{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100px;

    &:hover{
        background-color: darkred;
        border-color: darkred;
    }
}

.save-btn{
    background-color: #0c59be;
    color: white;
    border-color: #0c59be;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100px;

    &:hover{
        background-color: #084a8f;
        border-color: #084a8f;
    }
}