.dialog-container{
    position: relative;
}

.dialog-name-container{
    margin-top: 16px;
}

.dialog-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}