<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>Edit Address</h2>
  <mat-dialog-content class="dialog-main-container">

    <div>
      <mat-form-field appearance="outline" class="full-width mrgt-16">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading" [(ngModel)]="company.street" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="mrg-16">
        <mat-label>Zip Code</mat-label>
        <input [disabled]="loading" [(ngModel)]="company.zipCode" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="company.city" matInput />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="dialog-btn-container">
      <button
        class="close-btn"
        (click)="closeDialog()"
        [disabled]="loading"
        matButton
      >
        Cancel
      </button>
      <button
        class="save-btn"
        matButton
        [disabled]="loading"
        (click)="saveCompany()"
        cdkFocusInitial
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</div>

