.mat-toolbar {
  background-color: #360e7a;
  color: white;
  height: 56px;
}

.menu-icon{
    cursor: pointer;
    margin-right: 24px;
}

.mat-drawer-container {
  height: 100vh;
}

.mat-drawer-sidenav {
  width: 300px;
}

.sidenav-logo-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height:150px;
    }
}    

.menu-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;

    mat-icon{
        margin-right: 16px;
    }

    li{
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        font-family: "Nunito", sans-serif;

        &:hover{
            background-color: rgba(0,0,0,0.05);
        }

        &:focus{
            outline: none;
        }
    }

}

.router-container{
    padding:8px;
}
