.add-user-btn{
    position: absolute;
    right: 56px;
    bottom: 56px;
    border-radius: 100px;
    border-color: #0c59be;
    height: 80px;
    width: 80px;
    background-color: #0c59be;
    cursor: pointer;
}