<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>User Hinzufügen</h2>
  <mat-dialog-content class="dialog-main-container">
    <div class="dialog-name-container">
      <mat-form-field appearance="outline" class="mrg-16 mrgt-16">
        <mat-label>Vorname</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nachname</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.email" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Geburtsdatum</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.birthDate"
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          [disabled]="loading"
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="action-btn" align="end">
      <button
        (click)="closeDialog()"
        [disabled]="loading"
        mat-button
        (click)="onNoClick()"
      >
        Abbrechen
      </button>
      <button
        mat-flat-button 
        color="primary"
        [disabled]="loading"
        (click)="saveUser()"
        cdkFocusInitial
      >
        Speichern   
      </button>
  </mat-dialog-actions>
</div>
