<h2 mat-dialog-title>Neue Tour starten</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="full">
    <mat-label>Tourname</mat-label>
    <input matInput [(ngModel)]="name" [disabled]="loading" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Firma</mat-label>
    <input matInput [(ngModel)]="company" [disabled]="loading" />
  </mat-form-field>

  <div class="grid">
    <mat-form-field appearance="outline">
      <mat-label>Person</mat-label>
      <input matInput [(ngModel)]="person" [disabled]="loading" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Datum</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="date"
        [disabled]="loading"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Startzeit</mat-label>
      <input
        matInput
        type="time"
        [(ngModel)]="startTime"
        [disabled]="loading"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Endzeit</mat-label>
      <input matInput type="time" [(ngModel)]="endTime" [disabled]="loading" />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Notiz</mat-label>
    <input matInput [(ngModel)]="note" [disabled]="loading" />
  </mat-form-field>

  <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</mat-dialog-content>

<mat-dialog-actions class="action-btn" align="end">
  <button mat-button (click)="close()" [disabled]="loading">Abbrechen</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="loading">
    Speichern
  </button>
</mat-dialog-actions>
